head {
  border-color white: 2px 2px;
}

body {
  background-color: lavender;
  text-align: center;
  box-shadow: 100px;
  position: absolute;
}

h1 {
  font-size: 60px;
  text-decoration: underline;
  text-shadow: 2px 2px grey;
  font-family: 'Monoton', cursive;
  font-weight: 400;
}

h2 {
  font-family: 'Roboto', cursive;
  font-style: oblique;
  font-size: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-left: 20px;
}

p {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  left: 0;
}

li {
  font-size: 30px;
  text-align: center;
}